 <h5 class="mt-20 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Attributions for creative common content used in the website</h5>

<hr class="my-4 mx-auto w-48 h-1 bg-gray-100 rounded border-0 md:my-10 dark:bg-gray-700">

<div class="flex flex-wrap justify-evenly h-full content-start">

<div  class="block my-5 p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md  dark:bg-gray-800 dark:border-gray-700 flex flex-wrap">
    <div>
    <h5 class="mb-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">The website logo</h5>
    <a href="https://www.vecteezy.com/members/marsono" target="_blank"> <p class="font-normal mb-2 text-gray-700 dark:text-gray-400">Artwork Author: Mrson graphic</p></a>
    <a href="https://www.vecteezy.com/free-vector/community" target="_blank"> <p class="font-normal text-gray-700 dark:text-gray-400">Source: Community Vectors by Vecteezy</p></a>
    </div>
    <a href="https://www.vecteezy.com/vector-art/595037-community-care-logo-template-vector-icon" target="_blank">
    <img class="mr-3 h-6 sm:h-9" src="/images/logo.png" alt=""></a>
</div>

<div  class="block my-5 p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md  dark:bg-gray-800 dark:border-gray-700 flex flex-wrap">
    <div>
    <h5 class="mb-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">The User Avatars</h5>
    <a href="https://twitter.com/pablostanley" target="_blank"> <p class="font-normal mb-2 text-gray-700 dark:text-gray-400">Designed By: Pablo Stanley</p></a>
    <a href="https://avatars.dicebear.com/styles/avataaars" target="_blank"> <p class="font-normal text-gray-700 dark:text-gray-400">Source: DiceBear Avatars</p></a>
    </div>
    <a href="https://www.vecteezy.com/vector-art/595037-community-care-logo-template-vector-icon" target="_blank">
    <img class="mr-3 h-6 sm:h-9" src="https://avatars.dicebear.com/api/avataaars/Pablo.svg" alt=""></a>
</div>

</div>
{{! 

To be done before deployement 




}}